#container {
    width: 400px;
    height: 800px;
    font-family: monospace, serif;
    border: 1px solid hsl(0, 0%, 13%);
    padding: 10px;
  }
  #interesting-fact {
    font-style: italic;
  }
  span {
    font-weight: bold;
  }
  li {
    list-style: none;
  }
  .animal-info {
    border: 1px solid #222222;
    padding: 10px;
  }